includes:
    - vendor/judehashane/seatbelt/config/phpstan.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - bootstrap/providers.php
        - config/
        - database/
        - routes/
